<div class="main">
  <h1>COLOR MAP</h1>
  <div>
    <div>
      <h1>ACCENT COLORS</h1>
      <div>
        <h3>PRIMARY</h3>
        <div class="primary box"><div class="primary-text">Primary</div></div>
      </div>
    </div>
    <div>
      <h3>SECONDARY</h3>
      <div class="secondary box">
        <div class="secondary-text">Secondary</div>
      </div>
    </div>
    <h1>SEMANTIC COLORS</h1>
    <div>
      <h3>HOVER</h3>
      <div class="hover box"><div class="hover-text">Hover</div></div>
    </div>
  </div>
  <div>
    <h3>DISABLE</h3>
    <div class="disable box">
      <div class="disable--primary">On disable 1</div>
      <div class="disable--secondary">On disable 2</div>
    </div>
  </div>
  <div>
    <h3>ERROR</h3>
    <div class="error box">
      <div class="error-text">Error</div>
    </div>
  </div>
  <div>
    <h3>SUCCESSFULL</h3>
    <div class="successfull box">
      <div class="successfull-text">Successfull</div>
    </div>
  </div>
  <h1>NEUTRAL COLORS</h1>
  <div>
    <h3>BACKGROUND</h3>
    <div class="background box">
      <div class="background--primary">On background 1</div>
      <div class="background--secondary">On background 2</div>
    </div>
  </div>
  <div>
    <h3>SURFACE</h3>
    <div class="surface--primary box">
      <div class="surface--text">Surface 1</div>
    </div>
    <div class="surface--secondary box">
      <div class="surface--text">Surface 2</div>
    </div>
  </div>
  <div>
    <h3>Outline</h3>
    <div class="outline box">
      <div class="outline--text">Outline</div>
    </div>
  </div>
</div>
