html,
body,
.mat-typography {
  & div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-family: var(--font-family-regular);
    font-size: var(--font-size-normal);
    line-height: 21px;
  }
}

.mat-typography {
  h1 {
    font-size: var(--font-size-28);
    line-height: 37px;
  }
  h2 {
    font-size: var(--font-size-24);
    line-height: 32px;
  }
  h3 {
    font-size: var(--font-size-normal);
    line-height: 21px;
  }

  & .medium--font {
    font-family: var(--font-family-medium);
  }
}
